button {
  background-color: #0cc0df;
  border: none;
  font-size: 1.25rem;
  padding: 1rem 5px;
  border-radius: 15px;
  width: 8rem;
  transition: 0.15s ease-in-out;
  font-weight: bolder;
}
button:hover {
  cursor: pointer;
  background-color: adjust(#0cc0df, 20%);
  outline: 1px solid adjust(#0cc0df, -20%);
}

.attachment-selection {
  margin: 1rem;
}
.attachment-selection .label-name {
  font-size: 1.75rem;
}
@media screen and (max-width: 1274px) {
  .attachment-selection .label-name {
    font-size: 1rem;
  }
}
.attachment-selection .attachment-grid {
  border-top: 2px dashed #0cc0df;
  margin: 7px 0 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.attachment-selection .attachment-grid label {
  border-radius: 5px;
  transition: transform 0.3s;
  display: inline-block;
}
.attachment-selection .attachment-grid label input[type=radio] {
  display: hidden;
  padding-top: 2px;
  scale: 1.25;
  width: fit-content;
  position: relative;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}
.attachment-selection .attachment-grid label input[type=radio]:hover {
  cursor: pointer;
}
.attachment-selection .attachment-grid label input[type=radio]:checked {
  animation: spin360 1s forwards;
}
.attachment-selection .attachment-grid .input-fields {
  display: flex;
  justify-content: space-evenly;
  margin-right: 5px;
  align-items: center;
}
.attachment-selection .attachment-grid .input-fields .separator {
  font-size: 24px;
  margin: 0 10px;
  pointer-events: none !important;
  display: inline-block;
}
.attachment-selection .attachment-grid .input-fields .separator::before {
  content: "1";
  position: absolute;
  font-size: 10px;
  transform: translate(-5px, 15px);
}
.attachment-selection .attachment-grid .input-fields .separator::after {
  content: "2";
  position: absolute;
  font-size: 10px;
  transform: translate(0, 15px);
}
.attachment-selection .attachment-grid .attachment-images {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
@media screen and (max-width: 1274px) {
  .attachment-selection .attachment-grid .attachment-images {
    width: 55px;
    height: 55px;
  }
}

@keyframes spin360 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.main-area {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-area .button-group button {
  margin: 0.5rem 0.5rem 0 0;
}

@media screen and (max-width: 450px) {
  .main-area {
    padding-bottom: 1rem;
  }
  .main-area .button-group button {
    font-size: 1rem;
    width: fit-content;
    padding: 10px;
  }
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.right .bullet-container {
  background-image: linear-gradient(360deg, #0cc0df 10%, #b0b0b0);
  border-radius: 25px;
  height: 85vh;
  width: max(36vh, 20vw);
}
.right .bullet-container p {
  text-align: center;
}
.right .bullet-container .keyline-horizontal {
  height: 80%;
  border-left: 4px solid #b0b0b0;
  position: absolute;
  top: 22.5%;
  right: 50%;
}
.right .bullet-container #bullet-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.right .rec-stats {
  font-size: 20px;
}
@media screen and (max-width: 1314px) {
  .right .bullet-container {
    height: 100vh;
  }
  .right .rec-stats {
    font-size: 12.5px;
  }
  .right h2 {
    font-size: 2rem;
  }
}
.right .pros-cons {
  padding: 0 0.5rem 4rem 0.5rem;
  width: max(25rem, 25vw);
}
.right .pros-cons h2 {
  font-size: 1.5rem;
  text-decoration: underline;
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}
.right .pros-cons p {
  text-align: center;
}
@media screen and (max-width: 732px) {
  .right .pros-cons-container {
    display: flex;
    width: 20rem;
    justify-content: space-between;
  }
  .right .keyline-pros-cons {
    border-right: 2px solid #0cc0df;
    transform: translate(-2px, 0);
  }
  .right .pros-cons > * {
    padding: 2px;
  }
  .right .pros-cons h2 {
    font-size: 1.2rem;
  }
  .right .pros-cons {
    width: 200px;
  }
  .right .pros-cons p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=calculatorpage.css.map */
