@import "../scss/preset.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $darken-white;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
